body{
	background-color: white;
	margin:0 auto;
}
#head{
 	background: #2F4F4F; /* For browsers that do not support gradients */
	height: 100%;
	width: 15%;
	position: fixed;
	left: 0px;
	top: 0px;
	overflow: hidden; 
	border-bottom: 2px solid #363636;

}
#head img{
	margin-top: 20px;
	margin-left:50px;
	width: 100px;
	height: 100px;
	float: left;
	clear: left;
	position: relative;
}
#menu{
	position: relative;
	float: right;
	clear: right;	
	overflow: hidden;
	position: relative;
	top: 15px;
	right: 20px;
}
#container
{
	position: relative;
	width: 100%;
	top: 90px;
	height: 580px;
	background-color: #363636;	
	overflow: hidden;
	margin: auto;
	border:0px;
}